.container{
    margin-top:50px;
    width: 100%;
}
.page-container{
    position:relative;
    min-height: 60vh;
}

footer{
    background-color:  #000b49;
    text-align: center;
    height: 25vh;
    color:white;
    margin-top:50px;
    font-family: "Helvetica Neue",Helvetica,Arial;
    position: relative;
    bottom:0%;
    left:0%;
    width: 100%;
    
}
body,html{
    height: 100%;
    margin:0px;
    width: 100%;
}

#login-left{
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin-right:100px;
    margin-left:0px;
    background-color:white;
    border: 1px solid #000b49;
    padding: 30px;
    
}
#login-right{
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin-left:100px;
    margin-right:0px;
    padding-top:20px;
}

#login-banner{
    position:fixed;
    top:40%;
    left:50%;
    transform: translate(-50%, -50%);
    width:90%;
    background-color:#FEE2C5;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    color: #000b49;
    font-family: "Helvetica Neue",Helvetica,Arial;

}
nav{
    font-family: "Helvetica Neue",Helvetica,Arial;
    height: 10vh;
}

#sign-up{
    font-family: "Helvetica Neue",Helvetica,Arial;
    background-color:white;
    border: 1px solid #000b49;
    padding: 50px;
}

#signup-banner{
    background-color:#FEE2C5;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000b49;
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin-top: 50px;
    margin-bottom: 100px;
}

#shop{
    background-color:#FEE2C5;
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #000b49;
    font-family: "Helvetica Neue",Helvetica,Arial;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
}

#cart{
    font-family: "Helvetica Neue",Helvetica,Arial;
    text-align: center;
    background-color: #FEE2C5;
    color: #000b49;
    padding:50px;
}

#user-info{
    font-family: "Helvetica Neue",Helvetica,Arial;
    text-align: center;
    background-color: #FEE2C5;
    color: #000b49;
    padding:50px;
    
}

#user-card{
    font-family: "Helvetica Neue",Helvetica,Arial;
    display: flex;
    justify-content: center;
}

#shop-cart{
    font-family: "Helvetica Neue",Helvetica,Arial;
    background-color:#F66B0E;
    border: 2px solid #000b49;
    padding: 10px;
}

#card-info{
    background-color: #000b49;
    color: #FEE2C5;
}




