{% extends 'base.html.j2' %}
{% block title %}
{% if current_user.is_authenticated %}
Edit Info
{% else %}
Sign Up
{% endif %}
{% endblock %}

{% block content %}

<div id = "signup-banner">
<div id ="sign-up">
<form action = "{{url_for('auth.edit_info') if current_user.is_authenticated else url_for('auth.sign_up')}}" method = "POST">
{% if current_user.is_authenticated %}
<h1>Edit Info</h1>
{% else %}
<h1>Create a New Account</h1>
{% endif %}
<hr>
<br>

    {{form.hidden_tag()}}

    <div>
    {# {{form.first_name.label(class = "form-label")}} #}
    {{form.first_name(class = "form-control", value = current_user.first_name, placeholder = "First Name")}}
    {% for error in form.first_name.errors %}
    <small style = "color:red;"> {{error}} </small>
    {% endfor %}
    </div>
    <br>
    <div>
    {# {{form.last_name.label(class = "form-label")}} #}
    {{form.last_name(class = "form-control", value = current_user.last_name, placeholder = "Last Name")}}
    {% for error in form.last_name.errors %}
    <small style = "color:red;"> {{error}} </small>
    {% endfor %}
    </div>
    <br>
    <div>
    {# {{form.email.label(class = "form-label")}} #}
    {{form.email(class = "form-control", value = current_user.email, placeholder = "Email")}}
    {% for error in form.email.errors %}
    <small style = "color:red;"> {{error}} </small>
    {% endfor %}
    </div>
    <br>
    <div>
    {# {{form.password.label(class = "form-label")}} #}
    {{form.password(class = "form-control", placeholder = "Password")}}
    {% for error in form.password.errors %}
    <small style = "color:red;"> {{error}} </small>
    {% endfor %}
    </div>
    <br>
    <div>
    {# {{form.confirm_password.label(class = "form-label")}} #}
    {{form.confirm_password(class = "form-control", placeholder = "Confirm Password")}}
    {% for error in form.confirm_password.errors %}
    <small style = "color:red;"> {{error}} </small>
    {% endfor %}
    </div>
    <br>
    <div>
    {{form.submit(class = "btn btn-dark form-control")}}
    </div>
    <br>
    {% if not current_user.is_authenticated %}
    <p style = "text-align:center;">Already have an account? <strong><a href="{{url_for('auth.login')}}">Sign In</a></strong></p>
    {% endif %}

</form>
</div>
</div>

{% endblock %}